{% load static %}

<section class="section">
    <div class="container">
      <div class="section_category">
        <p class="section_category_p">categories</p>
      </div>
      <div class="section_header">
        <h3 class="section_title">Browse by Category</h3>
      </div>
      <div class="categories">
        {% for category in category %}
        <div class="category">
          <img src="{% static "image//icons/camera.png" %}" alt="" class="category_icon" />
          <p class="category_name">{{category.name}}</p>
        </div>
        
        {% endfor %}
      </div>
    </div>
  </section>